<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   {{!-- ugly google meta tags --}}
 <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="667240238072-hc21hom0h99rrh7o53rhqrld13hp8fpi.apps.googleusercontent.com">
  {{!-- <meta name="google-signin-client_id" content="911079455512-bm1penest5b1ooar7tah4cj9kapljkqn.apps.googleusercontent.com"> --}}
    <!-- Compiled and minified JavaScript -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  
  <link rel="icon" href="/styles/images/icon.png" type="image/ico">
  <title>Tradesies</title>
</head>

<body>
  <main>
  <div class="">
  <div class="col-12">        
  {{{body}}}
  </main>
  <footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h2 class="white-text">About</h2>
        <br>
        <p class="grey-text text-lighten-4">Tradesies is an app that allows users to give and receive with no costs and to give a greater sense of users helping each other in their own communities.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h2 class="white-text">Contact Us</h2>
        <br>
        <div>Email</div>
        <div>tradesies.notification@gmail.com</div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © Tradesies
    </div>
  </div>
</footer>
  </div>
  </div>
</body>
 </html>