<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img id="logo" src="../styles/images/logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>
      </div>
      <a class="navbar-item">
        Post an Item
      </a>
      </div>
      <a class="navbar-item">
        Your Posts
      </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
          <a id="Logout" class="button is-light modal-trigger" data-target="signin-modal">
            Log Out
          </a>
      </div>
    </div>

  </div>
</nav>