
html { 
overflow-y:scroll; 
height: 100vh;
}

body {
min-height: 100% !important;
background-image: url(/styles/images/white-waves.png);
background-repeat: repeat;
}

.navbar {
  width: 100%;
  margin: 0;
  height: 5rem;
}

#logo {
  margin-left: 10px;
  height: 70px;
  width: 220px;
}

#wordsinnav {
  margin-right: 10px;
  font-size: 20px;
  font-weight: 400;
}

#feedcontainer {
  margin: 5px auto;
  margin-bottom: 200px;
  width: 85%;
}

.modal {
  max-height: 80%;
  overflow-y:scroll; 
}

#modal-logo {
  text-align: center;
  width: 500px;
  height: 120px;
  margin: 10px auto 20px 25px;
  padding: 10px;
}

.input-field label {
  color: navy;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: navy;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid navy;
  box-shadow: 0 1px 0 0 navy;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid navy;
  box-shadow: 0 1px 0 0 navy; 
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid navy;
  box-shadow: 0 1px 0 0 navy;
}
.input-field .prefix.active {
  color: navy;
}

#submitOfferButton{
  width: 40%;
  text-align: center;
  margin: auto;
  background-color: navy;
  font-size: 16px;
}

#trade-logo {
  width: 300px;
  height: 70px;
  margin: 10px auto 10px 120px;
}

#signupSubmitBtn {
  width: 50%;
  text-align: center;
  background-color: navy;
  font-size: 16px;
}

#postmodal-logo,#updatemodal-logo {
  text-align: center;
  width: 200px;
  letter-spacing: 80px;
  margin: auto;
  margin-left: 185px;
}

#uploadImgBtn {
background-color: gray;
text-align: center;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:after {
  background-color: navy;
}

[type="radio"]:checked+span:after, 
[type="radio"].with-gap:checked+span:before, 
[type="radio"].with-gap:checked+span:after {
  border: 2px solid navy;
}

#submitPostBtn,#emailButton {
  background-color: navy;
}

.emailNotify{
  font-size: 30px;
  color: navy;
}
.emailBorder{
  border: 2px double navy;
}
footer{
  background-color:navy !important;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}

.message404{
  height: 100vh;
}
#submitReportButton,#submitUpdateBtn{
  background-color: navy;
}
